/*--------------------------------------------------------------
# File Block
--------------------------------------------------------------*/
.wp-block-file{
  
  // File link
  a{

  }

  // Download Button
  .wp-block-file__button{
    display: inline-block;
    padding: $cell-standard/2 $cell-standard;
    margin: 0 $cell-standard/2;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font: $font-h5;
    background: $color-secondary-500;
    color: $color-white;
    letter-spacing: 1px;
    font-weight: $font-weight-alternate-bold;
    text-transform: uppercase;
    text-decoration: none;
  }

}