/*--------------------------------------------------------------
# Blocks: Guttenberg Block Styles
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
  &.has-text-color{}
}

// H1
h1{
  font: $font-h1;
}

// H2
h2{
  font: $font-h2;
}

// H3
h3{
  font: $font-h3;
}

// H4
h4{
  font: $font-h4;
}

// H5
h5{
  font: $font-h5;
}

// H6
h6{
  font: $font-h6;
}
