/*--------------------------------------------------------------
# Navigation Block
--------------------------------------------------------------*/
.wp-block-navigation{
  font: $font-h5;
  letter-spacing: 1px;
  color: $color-gray-900;
  text-transform: uppercase;

  // Elements
  ul{
    li{
      border-bottom: 1px solid $color-gray;

      a{
      }
      ul{
        background: $color-gray-50;
        &:after{
          border-bottom-color: $color-gray-50;
        }
        li{
          border-bottom: 0;
          a{
            padding: $cell-standard;
          }
        }
      }
    }
  }

  // Added Classes
  &.is-style-dark{
    ul{
      li{
        ul{
          background: $color-primary;
          &:after{
            border-bottom-color: $color-primary;
          }
          li{
            a.wp-block-navigation-link__content{
              color: $color-white;
            }
          }
        }
      }
    }
  }
  &.is-style-light{}
  .wp-block-navigation-link{
    .wp-block-navigation-link__content{
      display: block;
      text-decoration: none;
      color: $color-gray-900;
      &:first-of-type, &:last-of-type{
        padding: $cell-standard;
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
  
}