/*--------------------------------------------------------------
# Table Block
--------------------------------------------------------------*/
.wp-block-table{

  // Table Body
  tbody{
    tr{
      td{
        border-bottom: 1px solid $color-gray-900;
      }
    }
  }

}